


h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size:1.75em;
	text-align: center;
}


p{
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin-right:auto;
	margin-left:auto;
	padding-top:14px;
}

@media (min-width:992px) {
	.col-lg-4 {
		position:relative;
		background-color: #A8A8A8;
		border:1px black solid;
		float:left;
		width:31.33%;
		margin:1%;
	   
	}
}

@media (min-width:768px) and (max-width:991px) {
	.col-md-6 {
		position:relative;
		background-color: #A8A8A8;
		border:1px black solid;
		float:left;
		width:48%;
		margin:1%;
       
	}

	.col-md-12 {
        position:relative;
		background-color: #A8A8A8;
		border:1px black solid;
		float:left;
		width:98%;
		margin:1%;
       
		}
}

@media (max-width:767px)  {
	.col-sm-12 {
		position:relative;
		background-color: #A8A8A8;
		border:1px black solid;
		float:left;
		width:100%;
		margin-bottom:8px;
		
	}
}

#p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.25em;
	position:absolute;
	width:80px;
	border-left:1px black solid;
	border-bottom:1px black solid;
    background-color:#fad9f9;
    text-align:center;
    right:0px;

}

#p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.25em;
	position:absolute;
	width:80px;
	border-left:1px black solid;
	border-bottom:1px black solid;
	background-color:#ab0322;
	text-align:center;
    right:0px;
    color:white;
}

#p3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.25em;
	position:absolute;
	width:80px;
	border-left:1px black solid;
	border-bottom:1px black solid;
	background-color:#f5f2a9;
	text-align:center;
    right:0px;
}

	